<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Atos Portal</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lazy']">Lazy</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" [routerLink]="['page1']">page1</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-2">
      <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
    </div>
    <div class="col">
          
          

    <h1>
      {{title}}
    </h1>
    <ul>
      <li *ngFor="let msg of messages">{{msg}}</li>
    </ul>
    <a [routerLink]="['lazy']">load lazy comp</a>
    <button class="btn btn-primary" (click)="alert()">alert</button>
    <router-outlet></router-outlet>

    </div>
  </div>
  
</div>





